<!DOCTYPE html>
<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>教师系统</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui_origin.css}">
  <link rel="stylesheet" th:href="@{/css/frame.css}">
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/teacher.js}"></script>
</head>
<body>
<script>
  function logout() {
    $("#logout").click();
  }
</script>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">

    <div class="layui-logo layui-hide-xs layui-bg-black">教师系统</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <!-- 移动端显示 -->
      <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
        <i class="layui-icon layui-icon-spread-left"></i>
      </li>

      <!--上端左侧-->
      <li class="layui-nav-item layui-hide-xs"><a href="javascript:;">联系方式</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
          <dd><a href="">QQ</a></dd>
          <dd><a href="">Wechat狗都不用</a></dd>
          <dd><a href="">weibo狗都不用</a></dd>
        </dl></li>
      <li class="layui-nav-item layui-hide-xs"><a th:href="@{/}">xxxxx</a></li></li>

    <!--上端右侧个人-->
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="javascript:;"><img sec:authorize="isAuthenticated()" th:src="${avatar}" class="layui-nav-img"></a>
        <a href="javascript:;"><img sec:authorize="isAnonymous()" src="https://sunnynoodlebucket.oss-cn-shanghai.aliyuncs.com/images/banner.jpg" class="layui-nav-img"></a>
        <dl class="layui-nav-child">
          <dd sec:authorize="isAuthenticated()" style="text-align: center;"><a href="javascript:;" sec:authentication="name"></a>
          </dd>
          <hr sec:authorize="isAuthenticated()">
          <dd sec:authorize="isAuthenticated()"><a onclick="f1(0)" href="javascript:;">个人设置</a></dd>
          <hr sec:authorize="isAuthenticated()">
          <dd sec:authorize="isAuthenticated()" style="text-align: center;"><a href="javascript:;" onclick="logout()">登出</a>
          </dd>
          <dd sec:authorize="isAnonymous()" style="text-align: center;"><a href="/newVersion/login">登录</a>
          </dd>
          <form th:action="@{/newVersion/logout}" method="post" hidden><input id="logout" type="submit"
                                                                              value="注销"/></form>
        </dl>
      </li>
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域 -->

      <!--选课-->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">我的授课</a>
          <dl class="layui-nav-child">
            <dd><a onclick="f1(1)" href="javascript:;">专业必修课</a></dd>
            <dd><a onclick="f1(2)" href="javascript:;">专业选修课</a></dd>
            <dd><a onclick="f1(3)" href="javascript:;">通识课</a></dd>
          </dl>
        </li>

        <!--成绩-->
        <li class="layui-nav-item"><a onclick="f1(4)" href="javascript:;">我的学生成绩</a></li>

        <!--课表-->
        <li class="layui-nav-item"><a onclick="f1(5)" href="javascript:;">我的课表</a></li>

      </ul>
    </div>
  </div>


  <!-- 内容主体区域 -->
  <div class="layui-body">
    <div style="padding: 15px;">
      <iframe class="main" id="d0" th:src="@{/newVersion/teacher/me}"></iframe>
      <div class="main" hidden="hidden" id="d1" th:insert="/newVersion/teacher/professional_compulsory_course::p"></div>
      <div class="main" hidden="hidden" id="d2" th:insert="/newVersion/teacher/professional_elective::p"></div>
      <div class="main" hidden="hidden" id="d3" th:insert="/newVersion/teacher/general_course::p"></div>
      <div class="main" hidden="hidden" id="d4" th:insert="/newVersion/teacher/studentScore::p"></div>
      <div class="main" hidden="hidden" id="d5" th:insert="/newVersion/teacher/teacherCurri::p"></div>
    </div>
  </div>

  <!--底部区域-->
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    底部固定区域
  </div>

</div>
<script src="/layui/layui.js"></script>
<script>
  //JS
  layui.use(['element', 'layer', 'util'], function(){
    var element = layui.element
            ,layer = layui.layer
            ,util = layui.util
            ,$ = layui.$;

    //头部事件
    util.event('lay-header-event', {
      //左侧菜单事件
      menuLeft: function(othis){
        layer.msg('展开左侧菜单的操作', {icon: 0});
      }
      ,menuRight: function(){
        layer.open({
          type: 1
          ,content: '<div style="padding: 15px;">学生收到的消息（待定）</div>'
          ,area: ['260px', '100%']
          ,offset: 'rt' //右上角
          ,anim: 5
          ,shadeClose: true
        });
      }
    });

  });
</script>
<script color="0,0,0" opacity="0.5" count="99" th:src="@{/js/nest.js}" type="text/javascript" charset="utf-8"></script>
</body>
</html>