<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ClassInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.ClassInfo">
            <id property="uuid" column="UUID" jdbcType="VARCHAR"/>
            <result property="classId" column="class_id" jdbcType="VARCHAR"/>
            <result property="collegeId" column="college_id" jdbcType="VARCHAR"/>
            <result property="majorId" column="major_id" jdbcType="VARCHAR"/>
            <result property="counselorName" column="counselor_name" jdbcType="VARCHAR"/>
            <result property="classTeacherName" column="class_teacher_name" jdbcType="VARCHAR"/>
            <result property="monitorStudentId" column="monitor_student_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        UUID,class_id,college_id,
        major_id,counselor_name,class_teacher_name,
        monitor_student_id
    </sql>
    <select id="findAllClassId" resultType="java.lang.String">
        select distinct class_id from class_info
    </select>
</mapper>
