<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.CourseDetailMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.CourseDetail">
            <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
            <result property="courseDetailId" column="course_detail_id" jdbcType="VARCHAR"/>
            <result property="startSchoolYear" column="start_school_year" jdbcType="OTHER"/>
            <result property="endSchoolYear" column="end_school_year" jdbcType="OTHER"/>
            <result property="startTerm" column="start_term" jdbcType="TINYINT"/>
            <result property="courseCondition" column="course_condition" jdbcType="VARCHAR"/>
            <result property="teacherName" column="teacher_name" jdbcType="VARCHAR"/>
            <result property="teachingLocation" column="teaching_location" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        course_id,course_detail_id,start_school_year,end_school_year,
        start_term,course_condition,teacher_name,
        teaching_location
    </sql>
</mapper>
