<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.CourseTimeMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.CourseTime">
            <result property="courseDetailId" column="course_detail_id" jdbcType="VARCHAR"/>
            <result property="startWeek" column="start_week" jdbcType="TINYINT"/>
            <result property="endWeek" column="end_week" jdbcType="TINYINT"/>
            <result property="dayTime" column="day_time" jdbcType="VARCHAR"/>
            <result property="sectionStart" column="section_start" jdbcType="VARCHAR"/>
            <result property="sectionEnd" column="section_end" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        course_detail_id,start_week,end_week,
        day_time,section_start,section_end
    </sql>
</mapper>
