<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.CourseInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.CourseInfo">
            <id property="uuid" column="UUID" jdbcType="VARCHAR"/>
            <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="responsibleCollegeId" column="responsible_college_id" jdbcType="VARCHAR"/>
            <result property="creditHours" column="credit_hours" jdbcType="TINYINT"/>
            <result property="credit" column="credit" jdbcType="FLOAT"/>
            <result property="courseType" column="course_type" jdbcType="VARCHAR"/>
            <result property="courseType2" column="course_type_2" jdbcType="VARCHAR"/>
            <result property="teachingWay" column="teaching_way" jdbcType="VARCHAR"/>
            <result property="assessmentMethod" column="assessment_method" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        UUID,course_id,course_name,
        responsible_college_id,credit_hours,credit,
        course_type,course_type_2,teaching_way,
        assessment_method
    </sql>
    <update id="updateCourseIdByCourseId">
        update student_manager.course_info set student_manager.course_info.course_id=#{newCourseId} where course_id=#{courseId}
    </update>
    <update id="updateCollegeIdByCourseId">
        update student_manager.course_info set student_manager.course_info.responsible_college_id=#{collegeId} where course_id=#{courseId}
    </update>
    <update id="updateCreditHoursByCourseId">
        update student_manager.course_info set student_manager.course_info.credit_hours=#{creditHour} where course_id=#{courseId}
    </update>
    <update id="updateCreditByCourseId">
        update student_manager.course_info set student_manager.course_info.credit=#{credit} where course_id=#{courseId}
    </update>
    <update id="updateCourseTypeByCourseId">
        update student_manager.course_info set student_manager.course_info.course_type=#{courseType} where course_id=#{courseId}
    </update>
    <update id="updateCourseNameByCourseId">
        update student_manager.course_info set student_manager.course_info.course_name=#{courseName} where course_id=#{courseId}
    </update>
    <select id="listAll" resultType="com.example.entity.CourseInfo">
        select
        <include refid="Base_Column_List"/>
        from course_info
    </select>
    <select id="findAllCourseName" resultType="java.lang.String">
        select distinct course_name from course_info
    </select>
</mapper>
