<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.MajorInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.MajorInfo">
            <id property="uuid" column="UUID" jdbcType="VARCHAR"/>
            <result property="majorId" column="major_id" jdbcType="VARCHAR"/>
            <result property="majorName" column="major_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        UUID,major_id,major_name
    </sql>
    <select id="searchAllMajorName" resultType="java.lang.String">
        select distinct major_name from major_info
    </select>
</mapper>
